html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
       background-color: RoyalBlue;
}

/* Add two CSS rules to let the user know something is happening */
.pleaseWaitArea {
    background: gray;
    opacity: .5;
}

.pleaseWaitMessage {
    border: black solid .5em;
    opacity: 1;
    text-align: center;
    background: white;
    z-index: 99;
    padding: 3em;
    position: absolute;
    left: 50%;
    top: 6em;
    transform: translate(-50%, 0);
}