@model IEnumerable<Storage.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <h4>Product Search by Name and Category</h4>
    <hr />
    <form asp-controller="Products" asp-action="Search" method="get">
        <div class="input-group mb-3">
            <input class="form-control" type="text" name="SearchString" placeholder="Search on product name... "/>
            <select class="form-control" name="Category" asp-items="@Html.GetEnumSelectList<Classification>()">
                <option selected="selected" value="">Please select category</option>
            </select>
            <button class="btn" value="Search"><i class="fa fa-search"></i>&emsp;Search</button>
        </div>
    </form>
</div>

<partial name="ProductTablePartial" />

